$padding-global:1.5rem;
$background-color:#232333;
$text-color:#fff; 
$padding-control: 0.65rem 0.85rem;
$opacity-control:0.7;
$border-color-rgb:rgb(219 219 235 / 0.2);


//colors
$theme-colores : (
 'primary':#696CFF, 
 'secondary':#484AA8,
 'warning':#FFAB00,
 'danger':#FF5733,
 'success': #71DD37,
); 
$theme-colores-light : (
 'success': #2b5e16,
); 
// breakpoints
$break-points: (
    'tablet':600px,
    'desktop':770px,
); 