@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter/static/Inter-Light.ttf');
}