.portada {
    margin: 5rem 0;
}
.portada__contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portada h1{
    width: 360px;
}
.portada__imagen figure img {
    object-fit: cover;
    height: 310px;
    width: 310px;
    margin-bottom: 1rem;
}
.portada__accion {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.beneficio {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.beneficio__icon {
    display: flex;
    flex-direction: column;
    gap: .60rem;
    align-items: center;
    margin-bottom: 0.50rem;
    background: linear-gradient(to top, var(--primary-color),var(--warning-color));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.beneficio__card {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .12);
}

.catalogo {
    margin: 6rem 0;
}

.catalogo__productos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.catalogo__productos .card {
    transition: all 0.5 ease-in;
    background: linear-gradient(#34405A, #384C75);
    view-timeline-name: --catalogo;
    view-timeline-axis: block;
    animation-timeline: --catalogo;
    animation-range: entry 25% cover 50%;
    animation-name: opacity;
    animation-fill-mode: both;
}

.catalogo__imagen img {
    max-width: 100%;
    object-fit: cover;
}

.catalogo__imagen {
    margin-bottom: 0.5rem;

}

.catalogo__producto {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .12);
}

.catalogo__productos .card:nth-child(odd) .catalogo__producto {
    flex-direction: column-reverse;
}

.catalogo__productos .card:nth-child(1) {
    background: linear-gradient(#5C5CA3, #9191E1);

}
.descubre-app{
    position: relative;
    padding-bottom:6rem;
    padding-top: 2rem;
}
.descubre-app__contenido {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}
.descubre-app__imagen {
  margin: 1rem 0;
}
.descubre-app img {
    max-width: 100%;
    object-fit: cover;
    height: 310px;
    width: 310px;
}
.descubre-app__boton{
    display: flex;
    align-items: center;
}

.baner-notificacion {
    width: 90%;
    background-color: #F4F0E4;
    /*background-image: url('../assets/img/notificacion.png');
    background-size: contain;
    background-position:right; 
    background-repeat: no-repeat;*/
    color: var(--background-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(50%);
}

.baner-notificacion__copy {
    padding: 2rem;
}

.baner-notificacion__input {
    display: flex;
}

.baner-notificacion__input input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.baner-notificacion__input button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
