body{
  overflow: hidden;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vh;
}
.login{
  border-radius: 5px;
  box-shadow: -2px 0px 20px 10px rgba(0, 0, 0, .12);
  width: 320px;
}
.login__logo{
  margin-bottom: 2rem;
}
.login__form h1{
  margin-bottom: 1rem;
}
.login__form form{
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.form-group{
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 1.5rem;
}
.form-group input{
  width: 100%;
  background-color: transparent;
  color: #fff;
}
.form-group > label{
  display: block;
  margin-bottom: 0.8rem;
}
.login__label-password{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}
.login__input-password{
  display: flex;
  justify-content: end;
  align-items: center;
}
.login__input-password .login__icon-password {
  position: absolute;
  right: 15px;
  cursor: pointer;
}
.login__input-password input{
  padding-right: 35px;
}
.login__dividir{
  position: relative;
  margin: 2rem 0px;
  text-align: center;
  display: flex;
  align-items: center;
}
.login__dividir span{
  margin: 0px 1rem;
}
.login__dividir::after {
 content: "";
 width: 100%;
 height: 1px; 
 background-color:  #9b9a9a;
}
.login__dividir::before{
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px; 
  background-color:  #9b9a9a;

}
.login__externo{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.login__btn-ingresar{
  display: flex;
  justify-content: center;
}
.login__btn-ingresar i{
  display: inline-block;
  transition: all 0.5s ease;
}
.login__btn-ingresar:hover i{
  transform: translateX(5px);
}
.login__btn-externo {
  background-color: #2C2C3F;
  color: #fff;
  border-color: #9b9a9a;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap:1rem
}