@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/static/Inter-Light.ttf');
}
:root{
    --background-color:#232333; 
    --primary-color:#696CFF;
    --primary-color-hover:#635bf9; 
    --secondary-color:#484AA8; 
    --warning-color:#FFAB00; 
    --warning-color-hover:#db9304; 
    --danger-color:#FF5733; 
    --success-color:#71DD37;
    --succes-color-light:#4b6e39;
    --text-color:#fff;
    --border-color: 219 219 235;
  }
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
html{
    font-family: 'Inter', sans-serif;
    /*font-size: 62.5%;*/
    font-size: 12px;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
}
h1{
    font-size: 2rem;
    line-height: 3rem; 
}
h2{
    line-height: 2.5rem; 
}
body{
    background-color:var(--background-color);
    color:var(--text-color);
    font-family: 'Inter', sans-serif;
}
main{
    padding-top:60px ;
}
p{
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}
hr{
    border: 1px solid rgb(var(--border-color)/15%)
}
.wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.mb-0{
    margin-bottom: 0;
}
.d-flex{
 display: flex;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.btn{
    padding: 0.600rem 0.850rem;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.control-input{
    padding: 0.600rem 0.850rem;
    border-radius: 5px;
    border: 1px solid #8f8f8f; 
}
.control-input:focus{
    border:1px solid var(--primary-color);
    box-shadow: 0 0 0 0.25rem rgb(105 108 255 / 25%);
    outline: 0;
}
.form-control:focus{
    box-shadow: 0 0 0 0.25rem rgb(105 108 255 / .25);
}
.btn-danger{
    background-color: var(--warning-color);
    color: white;
}
.btn-danger:hover{
    background-color: var(--warning-color-hover);
}
.btn-primary{
    background-color:var(--primary-color);
    color: white;
}
.btn-primary:hover{
    background-color: var(--primary-color-hover);
}
.text-center{
    text-align: center;
}
.text-success{
    color: var(--success-color);
}
.btn-outline-primary{
    outline: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
}
.text-primary{
    color: var(--primary-color); 
}
.border{
    border: 1px solid rgb(var(--border-color)/15%)
}
.card{
    position: relative;
    border-radius: 5px;
}
.card-body{
    padding: 2.2rem;

}
.badge{
   padding: 0.40rem 0.50rem;
   border-radius: 0.70rem;
   font-size: 0.9rem;
}
.badge-success{
    background-color: var(--succes-color-light);
    color: var(--success-color);
}
.flex-column{
 flex-direction: column;
}
.grupo-lista {
    margin-bottom:  1rem;
    padding-left: 0;
}
.grupo-lista .grupo-lista-elemento{
 list-style: none;
}
.grupo-lista-elemento{
 margin-bottom:  0.8rem;
 display: flex;
 flex-direction: row;
 gap:0.5rem;
 align-items: center;

}
.gradient-top{
    position: absolute;
    width: 100%;
    height: 5px;
    top: 0px;
    background: linear-gradient(to right, var(--primary-color),var(--warning-color));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.bg-secondary{
 background: #2C2C3F;
}
.filtro-bottom{
    position: absolute; 
    height: 200px;
    width: 200px;
    background-color: var(--secondary-color);
    bottom: -12%;
    right: -12%;
    filter: blur(60px);
    opacity: 0.4;
    border-radius: 50%;
}
#btn-menu:checked + .nav{
    right: 0;
}
.header {
    padding: 1.5rem 0;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    background-color: rgb(35 35 51 /0.80);
    backdrop-filter:blur(10px);
}
.nav {
    /*display: none;*/
    padding: 1rem;
    transition: all 0.5s ease;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    right: -100%;
    width: 80%;
    height: 100vh;
    padding: 2rem;
    box-shadow: -1px 5px 4px 0px #000;
    z-index: 2;
    background-color: rgb(35 35 51 /0.95);
    border: 1px solid rgb(var(--border-color) /0.2);
    display: flex;
    flex-direction: column;
}
.nav ul{
    text-decoration: none;
}
.nav ul li{
    list-style: none;
    margin: 1rem 0;
}
.nav ul li a{
   padding: 1rem;
   display: inline-block;
   width: 100%;
   text-align: center;
   text-decoration: none;
   transition: all 0.5s ease;
}
.nav ul li a:hover{
    color:var(--primary-color)
}
.nav-link-active{
  color:var(--primary-color)
}
.nav-btn-close-menu{
   cursor: pointer;
   display: block;
   align-self: flex-end;
}
.header__btn-menu{
    cursor: pointer;
}

.header__contenedor {
    display: flex;
    justify-content: space-between;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__ingreso {
    display: flex;
    align-items: center;
    gap: 0.50rem;
}

.header__ingreso button {
    display: none;
}

.footer__contenedor{
    padding-top: 6rem;
}
.footer__info{
    display: flex;
    flex-flow: row wrap;
}
.footer__info .footer__enlace-contenedor{
    flex-basis:50%;
    margin-bottom: 1rem;
}
.footer__logo-contenedor{
    margin: 2rem 0;
}
.footer__copyright{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.footer__copyright-redes{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.footer__red-social{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /*padding: 0.5rem;*/
    height: 35px;
    width: 35px;
    background: rgb(37 53 65 /80%)
}

